<div class="listContainer">
    <h1>List of your songs</h1>
    <div class="tableContainer">
        <table>
            <thead>
                <tr>
                    <th class="titleTab">Title</th>
                    <th class="artistTab">Artist</th>
                    <th class="yearTab">Year</th>
                    <th class="langTab">Language</th>
                    <th class="genreTab">Genre</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let song of songService.songs">
                    <td>{{song.title}}</td>
                    <td>{{song.artist}}</td>
                    <td>{{song.year}}</td>
                    <td>{{song.language}}</td>
                    <td>{{song.genre}}</td>
                    <td class="editTab"><button>Edit</button></td>
                    <td class="deleteTab"><button>Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>