.listContainer {
    display: block;
    background-color: #ffffff;
    background-image: url("../../../assets/background_image.jpg");
    width: 100%;
    padding-top: 10px;
}

.listContainer h1 {
    display: block;
    text-align: center;
    color: #ffffff;
    margin-top: 120px;
    font-size: 40px;
    letter-spacing: 0.18em;
}

.tableContainer {
    display: block;
    width: 100%;
    padding: 80px 0 150px;
}

table {
    display: block;
    width: fit-content;
    border-collapse: collapse;
    margin: auto;
}

th, td {
    color: #ffffff;
    border: 1px solid #ffffff;
}

th {
    background-color: #000000;
}

td {
    background-color: #000000d0;
}

.titleTab {
    width: 240px;
}

.artistTab {
    width: 170px;
}

.yearTab {
    width: 70px;
    text-align: center;
}

.langTab {
    width: 100px;
}

.genreTab {
    width: 120px;
}